<footer class="text-muted py-5">
    <div class="container">
      <p class="float-end mb-1">
        Hecho con Bootstrap
      </p>
      <p class="mb-1">Derechos Reservados!</p>
      <p class="mb-1">Autor Cristian Rivera</p>
      <p class="mb-0"> <a href="/">    </a> <a href="/docs/5.3/getting-started/introduction/ ">  </a></p>
    </div>
  </footer>

  <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
